<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tailwind CSS Boilerplate</title>
    <link rel="stylesheet" href="../../../assets/css/custom.css" />
  </head>

  <body>
    <!-- Main -->
     <main class="">
      <!-- Section Top -->
      <section class="main">
        <h1>Ο Μανώλης</h1>
        <h2>licensed to grill</h2>
        <img src="img/revythia-1-768x768.jpg">
      </section>
        <!-- Section Taverna Brief-->
        <section class="taverna">
          <div class="short-history">
            <h1>Οικογενειακή Ταβέρνα</h1>
              <h2>από το 1974</h2>
                <p>Η σχάρα κυριαρχεί στο μαγαζί, κι εκτός από μοσχαρίσιες και χοιρινές μπριζόλες, 
                  μπιφτέκια και παϊδάκια ψήνει και ψάρι, χειροποίητες πίτες εμφανίζονται σε 
                  ανύποπτούς χρόνους, ενώ τα μεσημέρια η κυρία Σπυριδούλα φτιάχνει και μαγειρευτά.</p>
          </div>
          <div class="taverna-image"> <img src="manolis-crew.jpg"></div>
        </section>
            <!-- Section Homemade Cook Food -->
          <section class="stews">
              <!-- Box-1 -->
            <div class="box">
              <div class="image"><img src="imam-1-768x768.jpg" alt="Μελιτζάνες ιμαμ φούρνου"></div>
                <div class="title">Μελιτζάνες ιμαμ φούρνου</div>
                  <div class="description">Το ιμάμ είναι ένα παραδοσιακό πιάτο ιδανικό για για όλες 
                    τις εποχές. Με μπόλικο κρεμμύδι, και γενναίο σκόρδο.</div>
            </div>
             <!-- Box-2 -->
             <div class="box">
              <div class="image"><img src="pastitsio-768x768.jpg" alt="Παραδοσιακό παστίτσιο"></div>
                <div class="title">Παραδοσιακό παστίτσιο</div>
                  <div class="description">Ενα από τα πιο γνωστά Ελληνικά παραδοσιακά πιάτα το 
                    παστίτσιο με φρεσκοκομμένος κιμά και χρυσαφένια και 
                    πλούσια μπεσαμέλ. Αγαπημένο φαγητό μικρών και μεγάλων!</div>
            </div>
             <!-- Box-3 -->
             <div class="box">
              <div class="image"><img src="revythia-1-768x768.jpg" alt="Ρεβύθια στο φούρνο"></div>
                <div class="title">Ρεβύθια στο φούρνο</div>
                  <div class="description">Είναι πολύ γευστικά αυτά τα ρεβύθια που ξεκινάνε στην 
                    κατσαρόλα και τελειώνουν στον φούρνο.</div>
            </div>
             <!-- Box-4 -->
             <div class="box">
              <div class="image"><img src="gemista-1-768x768.jpg" alt="Παραδοσιακά Γεμιστά"></div>
                <div class="title">Παραδοσιακά Γεμιστά</div>
                  <div class="description">Τραπέζι χωρίς γεμιστά δεν γίνεται! Γεμιστές τομάτες και 
                    πιπεριές με ρύζι, πατάτες και πολλά μυρωδικά! </div>
            </div>
          </section>
      </div>
     </main>
  </body>
</html>
